.articleSection{
    display:flex;
    height: 200px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.articleCard{
    width: 200px;
    background-color: rgb(158, 222, 220);
    width: 500px;
    padding: 50px;
    border-radius: 30px;
}
img {
    width: 400px;
}

.ArticleContainer{
    display: flex;
    justify-content: center;
}

.individualArticle{
    width: 200px;
    background-color: rgb(158, 222, 220);
    width: 500px;
    padding: 50px;
    border-radius: 30px;
}